@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;900&family=Open+Sans:wght@500&family=Outfit:wght@500;600&family=Poppins:wght@200;400;500;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font families */
.open-sans {
  font-family: "Open Sans", sans-serif;
}

.monts {
  font-family: "Montserrat", sans-serif;
}

.pops {
  font-family: "Poppins", sans-serif;
}
.outfit {
  font-family: "Outfit", sans-serif;
}

/* left slide animation */
@keyframes slideFromTop {
  from {
    transform: translateY(-25px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideFromBottom {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  from {
    transform: translateX(-25px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideFromRight {
  from {
    transform: translateX(25px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeInAni {
  animation: fadein 0.5s ease-in;
}

.fadeOutAi {
  animation: fadeout 0.5s ease-out;
}
.slideInRight {
  animation: slideFromRight 0.6s ease-in;
}
.slideInBottom {
  animation: slideFromBottom 0.6s ease-in;
}
.slideInLeft {
  animation: slideFromLeft 0.6s ease-in;
}

.slideInTop {
  animation: slideFromTop 0.6s ease-in;
}

/* css for slanted div */
.custom-shape-divider-bottom-1692032217 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692032217 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1692032217 .shape-fill {
  fill: #f3f4f6;
}
/* end of css for slanted div */
.custom-shape-divider-top-1692032392 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1692032392 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1692032392 .shape-fill {
  fill: #f3f4f6;
}

@media (max-width: 767px) {
  .custom-shape-divider-top-1692032392 svg {
    width: calc(100% + 1.3px);
    height: 79px;
  }
}
