@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;900&family=Open+Sans:wght@500&family=Outfit:wght@500;600&family=Poppins:wght@200;400;500;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font families */
.open-sans {
  font-family: "Open Sans", sans-serif;
}

.monts {
  font-family: "Montserrat", sans-serif;
}

.pops {
  font-family: "Poppins", sans-serif;
}
.outfit {
  font-family: "Outfit", sans-serif;
}

/* left slide animation */
@keyframes slideFromTop {
  from {
    transform: translateY(-25px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideFromBottom {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  from {
    transform: translateX(-25px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeInAni {
  animation: fadein 0.5s ease;
}

.slideInBottom {
  animation: slideFromBottom 0.6s ease-in;
}
.slideInLeft {
  animation: slideFromLeft 0.6s ease-in;
}

.slideInTop {
  animation: slideFromTop 0.6s ease-in;
}

/* css for slanted div */
.custom-shape-divider-bottom-1692003488 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692003488 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 172px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1692003488 .shape-fill {
  fill: #f3f4f6;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1692003488 svg {
    width: calc(100% + 1.3px);
    height: 200px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1692003488 svg {
    width: calc(100% + 1.3px);
    height: 137px;
  }
}
/* end of css for slanted div */
